body{
    
    /* background-image: url(/img/originback.svg); */
    background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-color: #04272E;
}



/* Nav header */
.container {
    height: 100px; /* Belgilangan balandlikni ta'minlash */
  }
  
  .logo img {
    display: block; /* Img tagini to'g'ri ko'rinishda ta'minlash */
    max-width: 100%; /* Responsivlik uchun */
    height: auto; /* Asl nisbatni saqlab qolish */
  }
  
  .language {
    color: #D3AE6F; /* Siz tanlagan rang */
    text-decoration: none; /* Pastki chiziqni yo'qotish */
    font-size: 3rem; /* Harf o'lchamini oshirish */
  }
  
  /* Mobil qurilmalar uchun maxsus stil */
  @media (max-width: 768px) {
    .container {
        margin: 0;
      align-items: center; 
      justify-content: center;
      text-align: center; /* Har bir elementni markazga joylashtirish */
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .logo img {
        display: block; /* Img tagini to'g'ri ko'rinishda ta'minlash */
        max-width: 60%; /* Responsivlik uchun */
        height: auto; /* Asl nisbatni saqlab qolish */
        
      }
    .language {
      margin-top: 0px; /* Til linki va logotip orasidagi bo'shliq */
      font-size: 1.8rem;
    }
  }
  
  .full-width {
    width: 100%;
    height: auto;
}

/* Maxsus margin top qo'shish */


/* Responsive qilish uchun media query */
@media (max-width: 768px) {
    .Nav-containerr {
        bottom: 100px;
        flex-direction: column; /* Kichik ekranlarda ustunlarni ustma-ust joylashtirish */
        text-align: center; /* Kichik ekranlarda elementlarni markazga joylashtirish */
    }

    .Vector-logo {
        width: 80%; /* Kichik ekranlarda logo kengligini sozlash */
        margin: 0 auto; /* Kichik ekranlarda logo markazlash */
    }

    .full-width {
        max-width: 100%; /* Rasmni ekran chegarasiga yetmasligini ta'minlash */
    }
}

  
  
/* Nav content + */
.fontText{
    width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.font-element{
    color: #FAE298;
    font-size: 30px;    
}

@media (max-width: 768px) {

    .fontText{
       width: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }

    .font-element{
        color: #FAE298;
        font-size: 15px;
        
    }

    
}




/* Header Form */

.headerForm{
    display: flex;
    width: 1200px;
    margin: auto;
   
    
}
.telnameForm{
   align-items: center;
   /* margin-left: 100px; */
}

.tjfphoto{
    background-image: url(/img/starts.svg);
}

.tel-forma{
    margin-right: 0;
    border-radius: 25px;
    height: 60px;
    width: 350px;
}
.name-forma{
    border-radius: 25px;
    width: 350px;
    height: 60px;
}

.formButton {
    font-weight: 500;
    border-radius: 25px;
    height: 55px;
    width: 350px;
    background-color: hsl(36, 59%, 58%); /* Yorqinlikni 10% ga oshirdik */

    color: rgb(0, 0, 0); /* Matnning oq rangi */
    padding: 15px 30px; /* Ichki bo'shliq */
    border: none; /* Chekkalarni olib tashlash */
    border-radius: 30px; /* Chekkalarni yumaloqlashtirish */
    font-size: 16px; /* Shrfit o'lchami */
    cursor: pointer; /* Mushta ko'rsatkichni ko'rsatish */
    box-shadow: 1px 1px 1px 1px #B78B32; /* Yumshoq soya effekti */
    transition: all 0.3s ease; /* Bosilganda animatsiya effekti */
}

.formButton:hover {
    background-color: #af8c2c; /* Tugmani bosganda rangini o'zgartirish */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Bosilganda soya effektini oshirish */
}

.formButton:active {
    background-color: #9c7a26; /* Tugmani bosib turganda rangini o'zgartirish */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Bosib turganda soya effektini pasaytirish */
}

.formText{
        
    text-align: center;
    color: #D3AE6F;
     font-size: 15px; 
     width: 300px; 
     margin-left: 30px;
   
}
.tjimg{
    width: 600px;
    
}
@media (max-width: 768px) {
    .headerForm {
        width: auto;
       margin: auto;
        display: block; /* Kichik ekranlarda ustunlarni ustma-ust joylashtirish */
        justify-content: center;
      
        
   
    }
    .telnameForm{
        display: flex;
        flex-direction: column; /* Agar elementlar vertikal yo'nalishda joylashgan bo'lsa */
        align-items: center;    /* Gorizontal markazlash */
        justify-content: center; /* Vertikal markazlash */
    }
    
    .tjfphoto{
        width: auto;
      
        margin: auto auto auto 30px;
    }
    .tjimg {
       
        display: block; /* Kichik ekranlarda ustunlarni ustma-ust joylashtirish */
        justify-content: center;
     width: 90%;
     height:100%;
    }

    .tel-forma{
        
        border-radius: 25px;
        height: 40px;
        width: 320px;
    }
    .name-forma{
        border-radius: 25px;
        width: 300px;
        height: 40px;
    }


    .formButton {
        font-weight: 500;
        border-radius: 25px;
        height: 40px;
        width: 300px;
        background-color: hsl(36, 59%, 58%); /* Yorqinlikni 10% ga oshirdik */
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 0, 0); /* Matnning oq rangi */
        padding: 15px 30px; /* Ichki bo'shliq */
        border: none; /* Chekkalarni olib tashlash */
        border-radius: 30px; /* Chekkalarni yumaloqlashtirish */
        font-size: 16px; /* Shrfit o'lchami */
        cursor: pointer; /* Mushta ko'rsatkichni ko'rsatish */
        box-shadow: 1px 1px 1px 1px #B78B32; /* Yumshoq soya effekti */
        transition: all 0.3s ease; /* Bosilganda animatsiya effekti */
    }
    
    .formButton:hover {
        background-color: #af8c2c; /* Tugmani bosganda rangini o'zgartirish */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Bosilganda soya effektini oshirish */
    }
    
    .formButton:active {
        background-color: #9c7a26; /* Tugmani bosib turganda rangini o'zgartirish */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Bosib turganda soya effektini pasaytirish */
    }
    

    .formText{
        
        text-align: center;
        color: #D3AE6F;
         font-size: 15px; 
         width: 300px; 
         margin: auto;
    }

}


/* <!-- header time --> */
.headert{
    display: block;
    align-items: center;
    text-align: center;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FAE298; /* Matn rangi */
    font-family: Arial, sans-serif; /* Shrift */
    
    padding: 10px;
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
 
}

.number {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: 46px;
    font-weight: bold;
}

.label {
    font-size: 20px;
}


.timefont{
    font-size: 35px;
    color: #D3AE6F;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {


    .timefont{
        font-size:20px;
    }

    .label {
        font-size: 15px;
    }

    .number {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 700;
        font-size: 26px;
        font-weight: bold;
    }
    

}






/* <!-- Heder img text --> */

.vertor-tex{
    text-align: center;
    width: auto;
  margin: 50px auto auto auto;
}

.vertor-tex h2{
    color: #D3AE6F;
    font-family:serif;
    
}
.vertor-tex h2:last-child{
    color: #D3AE6F;
    font-family:serif;
        font-weight: 900;
    
}
/* .vertor-tex span{
    color: #D3AE6F;
    font-family:serif;
} */

@media (max-width: 768px) {

    .vertor-tex{
        
        width: auto;
      margin: 10px auto auto auto;
    }

   .vertor-tex h2{
    font-size:15px;
    
   }
   .vertor-tex h2:last-child{
    color: #D3AE6F;
    font-family:serif;
        font-weight: 900;
        margin-top: 0;
        font-size:15px;
    
}

}



/* <!-- content  --> */

.midContent{
    width: 1200px;
    margin: 50px auto auto auto;
    color: #D3AE6F;
}

.midh1{
    font-family: "Montserrat", sans-serif;  
      width: 700px;
    text-align: left;
    font-size: 25px; 
    font-weight: 700;
}

.midh2{
    font-family: "Montserrat", sans-serif;  
    margin-top: 50px;
    text-align: left;
    font-size: 25px; 
}

.midphoto img{
    width: 400px;
    height: 380px;
 }

@media (max-width: 768px) {

 .midContent{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
 }
 .midh1{
    margin: auto;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;  
      width: auto;
    text-align: left;
    font-size: 15px; 
    font-weight: 700;
}

.midh2{
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;  
    margin-top: 10px;
    text-align: left;
    font-size: 15px; 
}

 .midphoto{
    margin: auto;
 }

 .midphoto img{
    width: 350px;
    height: 250px;
 }

}




/* <!-- content text --> */

.contentText{
    width: 1200px;
    margin: 50px auto auto auto;
    color: #D3AE6F;
}

.contentText h2{
    margin: auto;
    font-family: "Montserrat", sans-serif;  
      width: auto;
    text-align: left;
    font-size: 25px; 
    /* font-weight:0; 70 */
}

.contentText h2:last-child{
    margin: 30px auto auto auto;
    font-family: "Montserrat", sans-serif;  
    font-weight: 700;
  
}



@media (max-width: 768px) {

    .contentText{
       width: auto;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin: auto;
    }
    .contentText h2{
        margin-left: 10px;
        font-family: "Montserrat", sans-serif;  
        margin-top: 10px;
        text-align: left;
        font-size: 15px; 
   
   }

   .contentText h2:last-child{
    margin: 30px auto auto 10px;
    font-family: "Montserrat", sans-serif;  
    font-weight: 700;
    font-size: 15px; 
  
}
  
   
   }




   /* <!-- mid about --> */


   .midAbout{
    width: 1200px;
    margin: 50px auto auto auto;
    color: #D3AE6F;
   }
   
   .conAbout{
    margin-top: 50px;
   }

   .conText h3{
    text-align: left;
    margin-left: 50px;
    font-family: "Montserrat", sans-serif;  
    font-size: 23px;
    font-weight: 800;
   }

   .conText h3:last-child{
    text-align: left;
    margin-left: 50px;
    font-family: "Montserrat", sans-serif;  
    font-size: 21px;
    font-weight: 400;
   }


   @media (max-width: 768px) {
   
    .midAbout{
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 10px auto auto auto;

    }

    .conAbout{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
   
    .conText h3{
        text-align: center;
        /* margin-top: 0; */
        font-family: "Montserrat", sans-serif;  
        font-size: 15px;
        font-weight: 800;
        margin:10px auto auto auto;
       }
    .conAbout img {
        margin: 10px auto auto auto;
    }
    

   .conText h3:last-child{
    width: 300px;
    text-align: center;
    margin: auto;
    font-family: "Montserrat", sans-serif;  
    font-size: 13px;
    margin:5px auto auto auto;
    font-weight: 400;
   }

  

   }


 .midContentext{
    width: 1300px;
    font-size:10px;
    color: aliceblue;
}

   .midContentext{
    margin: 60px auto auto auto;
    font-size: 35px;
    color: #D3AE6F;
    justify-content: center;
    align-items: center;
   }


   @media (max-width: 768px) {

    .midContentext{
        margin: 20px auto auto 10px;
        width: auto;
        font-size:18px;
  
    }

   }



 /* Button styling */
 .apply-button {
    margin-top: 50px;
    padding: 10px 60px;  /* Tugma o'lchamlari */
    background: linear-gradient(145deg, #FFD700, #FFA500);  /* Gradient orqali oltin rang effekti */
    border: none;  /* Chegarani olib tashlash */
    border-radius: 20px;  /* Chegaraning yumaloqligi */
    color: black;  /* Yozuv rangi */
    font-size: 16px;  /* Shrfit o'lchami */
    font-weight: bold;  /* Shrfit qalinligi */
    cursor: pointer;  /* Sichqoncha kursorni pointer ko'rinishiga o'zgartirish */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);  /* Soyani qo'shish */
    transition: all 0.3s ease;  /* Bosilganda animatsiya effekti */
}

.apply-button:hover {
    background: linear-gradient(145deg, #FFA500, #FFD700);  /* Tugmani bosilganda rangini o'zgartirish */
    box-shadow: 0 0 15px #FFA500;  /* Soyani kengaytirish va rangini o'zgartirish */
}


/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    display: flex;
    align-items: center; /* Vertikal joylashish */
    justify-content: center; /* Gorizontal joylashish */
}

.modal-content {
    width: 500px; /* O'lchamni sozlash */
    background: url(/img/originback.svg) center/cover no-repeat; /* Fon rasmi */
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    color: #D3AE6F; /* Agar fon rasmi qorong'i bo'lsa, matn oq rangda yaxshiroq ko'rinadi */
    font-size: 15px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input, .submit-button {
    width: 90%; /* Kengligi to'ldiradi */
    padding: 10px;
    height: 50px;
    /* border-radius: 100px; */
    margin-top: 10px;
    border-radius: 5px; /* Chekkalarni yumaloqlashtirish */
}

.modal-content input {
    color: white;
    font-weight: 500;
    margin-top: 30px;
    border-radius: 20px;
  
    border: 1px solid #ccc; /* Chegarani ko'rsatish uchun */
    padding: 10px 20px; /* Padding qo'shish */
    width: calc(100% - 40px); /* To'liq kenglikdan 40px kamaytirish */
    box-sizing: border-box; /* Padding va border o'lchamlarni ichiga oladi */
}

input[type="text"],
input[type="tel"] {
    width: 350px; /* To'liq kenglikni egallash */
    padding: 10px;
    margin: 10px 0; /* Yuqori va pastki chegaralar */
    border: 1px solid #ccc; /* Chegara rangi */
    border-radius: 25px; /* Input maydonlarining burchaklarini yumaloqlashtirish */
    
    color: rgb(0, 0, 0); /* Matn rangi */
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Barcha elementlarni markazga joylashtirish */
    justify-content: center; /* Vertikal markazlash */
    width: 100%; /* Form kengligini to'liq konteynerga moslash */
}



.modal-content button{
    border-radius: 20px ;
    margin-top: 20px;
    background-color: hsl(36, 59%, 58%); /* Yorqinlikni 10% ga oshirdik */

    color: rgb(0, 0, 0); /* Matnning oq rangi */

    border: none; /* Chekkalarni olib tashlash */
    border-radius: 30px; /* Chekkalarni yumaloqlashtirish */
  
    cursor: pointer; /* Mushta ko'rsatkichni ko'rsatish */
    box-shadow: 1px 1px 1px 1px #B78B32; /* Yumshoq soya effekti */
    transition: all 0.3s ease; /* Bosilganda animatsiya effekti */
}


@media (max-width: 768px) {

    .apply-button{
        margin-top: 10px;
        padding: 10px 40px; 
  
    }
    .modal {
        width: auto; /* Kengroq o'rnatish */
        padding: 10px; /* Kamroq ichki yostiq */
        
        background: none;
    }

    .modal-content {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        width: auto; /* O'lchamni sozlash 
        background: url(/img/originback.svg) center/cover no-repeat; /* Fon rasmi */
        padding: 20px;
        /* margin-top: 50px; */
        margin: 50px auto 0 auto;
        border-radius: 10px;
        color: #D3AE6F; /* Agar fon rasmi qorong'i bo'lsa, matn oq rangda yaxshiroq ko'rinadi */
        font-size: 15px;
    }

     .modal-content form{
         display: flex;
         width: auto;
         /* margin-left: 50px; */
         flex-direction: column;
         justify-content: center;
     }
 


input[type="tel"] {
    width: 100%; /* To'liq kenglikni egallash */
    padding: 10px;
    margin: 10px 0; /* Yuqori va pastki chegaralar */
    border: 1px solid #ccc; /* Chegara rangi */
    border-radius: 25px; /* Input maydonlarining burchaklarini yumaloqlashtirish */
   
    color: rgb(0, 0, 0); /* Matn rangi */
}

input[type="text"] {
    width: 100%; /* To'liq kenglikni egallash */
    padding: 10px;
    margin: 10px 0; /* Yuqori va pastki chegaralar */
    border: 1px solid #ccc; /* Chegara rangi */
    border-radius: 25px; /* Input maydonlarining burchaklarini yumaloqlashtirish */
   
    color: rgb(0, 0, 0);
}

button.submit-button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

   }





   /* <!-- Clentss --> */

   .clints{
    width: 1200px;
    font-family:serif;
    font-weight: 300;
    color: #D3AE6F;
    text-align: left;
    margin:40px auto auto auto;
   }


   .clints span{
    font-family:serif;
    font-weight: 700;
    color: #D3AE6F;
   }


   
   .clentscon{
    width: 1200px;
    margin:50px auto auto auto;
   }
   
   .clentstextcon{
    margin-top: 20px;
    display: flex;
   }
   
 
   .clentsimg{
    font-family: "Montserrat", sans-serif;  
    font-size: 18px;
    color: #D3AE6F;
   }

   .clentsinter{
    background-color: #D1DCDC;
    margin: 80px auto auto 50px;
    padding: 20px; /* Atrofida joy tashlash */
    border-radius:  0px 40px 10px 40px; /* Har bir burchakka alohida radius */
    font-size: 16px; /* Shrfit o'lchami */
    line-height: 1.5; /* Matn chiziqlari orasidagi masofa */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5); /* Soyani qo'shish */
    width: auto;
   }
   .clentsinter h2 {
    color: #161919;
    font-weight: 500;
    margin:10px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px !important;
   }



   @media (max-width: 768px) {

    .clints{
        width: auto;
        font-family:serif;
        font-weight: 300;
        color: #D3AE6F;
        text-align: left;
        margin:30px auto auto 10px;
        font-size: 18px;
       }
    

       .clentstextcon{
        margin-top: 20px;
        margin: auto;
        display: flex;
        flex-direction: column ;
       }

       .clentsinter{
        background-color: #D1DCDC;
        margin: 10px auto auto 10px;
        padding: 20px; /* Atrofida joy tashlash */
        border-radius: 0px 40px 10px 40px; /* Har bir burchakka alohida radius */
        font-size: 16px; /* Shrfit o'lchami */
        line-height: 1.5; /* Matn chiziqlari orasidagi masofa */
        box-shadow: 0px 4px 8px rgba(0,0,0,0.5); /* Soyani qo'shish */
        width: 300px;
       }

       .clentsinter h2 {
        color: #161919;
        font-weight: 500;
        margin: unset;
        font-family: "Montserrat", sans-serif;
        font-size: 15px !important;
        
       }
    
       .clentscon{
        display: flex;
        flex-direction: column;
        width: auto;
        margin:20px auto auto 10px;
       }

      
       /* .clentsimg{
        font-family: "Montserrat", sans-serif;  
        font-size: 18px;
        color: #D3AE6F;
        display: flex;
        flex-direction: column;
        justify-content: left;
        
        
       } */

       .clentsimg img{
        align-items: start;
        margin-top: 30px;
       }
   }






   /* feedback */

   .feedback{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 1200px;
    font-weight: 300;
    color: #D3AE6F;
    
    margin:60px auto auto auto;
   }


   .feedback-items{

    display: flex;
    justify-content: left;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;  
    font-size: 21px;
    font-weight: 400;
   }

   .feedback-items img{
    margin-top: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
   } 
 
   .feedback-items h3{
  margin-left: 10px;
   }
   .feedback-items h4{
    margin-left: 10px;
     }


   @media (max-width: 768px) {
    .feedback{
        width: auto;
        font-weight: 300;
        color: #D3AE6F;
       
        margin:10px auto auto auto;
       }
    

       .feedback-items h3{

        display: flex;
        margin: auto;
        font-family: "Montserrat", sans-serif;  
        font-size: 15px;
        font-weight: 400;
       }

       .feedback-items img{
        width: 15px;
        height: 15px;
        margin: 5px 10px auto 20px;
       } 
   }





/* <!-- home about  --> */


.conhome{
    display: flex;
    
    justify-content: left;
    width: 1200px;
    font-weight: 300;
    color: #D3AE6F;
    
    margin:60px auto auto auto;
}



.homecon1 h3{
    text-align: left;
    margin: 25px auto auto auto;
    font-family: "Montserrat", sans-serif;  
    font-size: 23px;
    font-weight: 700;
}

.homecon1 span{
    width: 300px;
    text-align: center;
    margin: auto;
    font-family: "Montserrat", sans-serif;  
    font-size: 25px;
    margin:5px auto auto auto;
    font-weight: 400;
}

.homecon2{
    margin: auto auto auto 30px;
}

.homecon2 img{
margin: auto 10px auto auto;
}

@media (max-width: 768px) {

    .conhome{
        display: flex;
        flex-direction: column;
        /* justify-content: left; */
        width: auto;
        font-weight: 300;
        color: #D3AE6F;
        /* font-size: 15px; */
        margin:30px auto auto auto;
    }
.homecon1{
    align-items: center;
    width: auto;
}

    .homecon1 h3{
        text-align: center;
        
        margin: 15px auto auto auto;
        font-family: "Montserrat", sans-serif;  
        font-size: 15px;
        font-weight: 700;
    }

    .homecon1 span{
        width: auto;
        text-align: center;
        margin: auto;
        font-family: "Montserrat", sans-serif;  
        font-size: 15px;
        margin:5px auto auto auto;
        font-weight: 400;
    }
    
    .homecon2 img{
        margin-top: 20px;
        margin-right: 10px;
        width: 320px;
        height: 300px;
    }
    
}



.line {
    display: flex;
    justify-content: center;
    margin: 30px auto auto auto ;
    height: 2px;  /* Chiziqning balandligi */
    width: 1200px;  /* Chiziqning kengligi */
    background-color: #D3AE6F;  /* Chiziqning rangi */
}

@media (max-width: 768px) {
    .line {
        display: flex;
        justify-content: center;
        margin: 30px auto auto auto ;
        height: 2px;  /* Chiziqning balandligi */
        width: 90%;  /* Chiziqning kengligi */
        background-color: #D3AE6F;  /* Chiziqning rangi */
    }
}



/* <!-- midtext --> */

.midinfotext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin: 50px auto auto auto;

}

.midinfotext p {
    line-height: 1.6; /* Qatorlar orasidagi masofa */
    margin-top: 20px;
    color: #D3AE6F;
    font-family: "Montserrat", sans-serif;     
     font-size: 23px;

}


@media (max-width: 768px) {
    .midinfotext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 20px auto auto auto;
    
    }

    .midinfotext p {
        line-height: 1.6; /* Qatorlar orasidagi masofa */
        margin-top: 10px;
        color: #D3AE6F;
        font-family: "Montserrat", sans-serif;     
        font-size: 18px;
    
    }
}


/* .midbutton{

} */

.midbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto auto auto;
    padding: 10px 60px;  /* Tugma o'lchamlari */
    background: linear-gradient(145deg, #FFD700, #FFA500);  /* Gradient orqali oltin rang effekti */
    border: none;  /* Chegarani olib tashlash */
    border-radius: 20px;  /* Chegaraning yumaloqligi */
    color: black;  /* Yozuv rangi */
    font-size: 16px;  /* Shrfit o'lchami */
    font-weight: bold;  /* Shrfit qalinligi */
    cursor: pointer;  /* Sichqoncha kursorni pointer ko'rinishiga o'zgartirish */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);  /* Soyani qo'shish */
    transition: all 0.3s ease;  /* Bosilganda animatsiya effekti */
}

.midbutton:hover {
    background: linear-gradient(145deg, #FFA500, #FFD700);  /* Tugmani bosilganda rangini o'zgartirish */
    box-shadow: 0 0 15px #FFA500;  /* Soyani kengaytirish va rangini o'zgartirish */
}


@media (max-width: 768px) {

    .midbutton{
        margin-top: 10px;
        padding: 10px 40px; 
  
    }

   }


   /* shoptext */

   .shoptext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    margin: 50px auto auto auto;
   }

   .shoptext p {
    line-height: 1.6; /* Qatorlar orasidagi masofa */
    margin-top: 20px;
    color: #D3AE6F;
    font-family: "Montserrat", sans-serif;     
     font-size: 21px;
   }

   @media (max-width: 768px) {

    .shoptext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 20px auto auto auto;
    
    }

    .shoptext p {
        line-height: 1.6; /* Qatorlar orasidagi masofa */
        margin-top: 10px;
        color: #D3AE6F;
        font-family: "Montserrat", sans-serif;     
        font-size: 18px;
    
    }

   }



   /* footer text */


   .footh1{
    width: auto;
    text-align: center;
    margin: 50px auto auto auto ;
    color: #FAE298;
    /* font-size: 30px;    */
   }


   @media (max-width: 768px) {
    .footh1{
        color: #FAE298;
        font-size: 18px;
        margin: 30px auto auto auto ;
        
    }
   }


   .footcon{
    width: 1200px;
    margin: 30px auto auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D3AE6F;
   }
   
   .footcon h1 {
    text-align: left;
    margin: 25px auto 30px auto;
    font-family: "Montserrat", sans-serif;  
    font-size: 23px;
    font-weight: 700;
   }

   .footcon p {
    margin: 20px auto auto 10px ;
    font-family: "Montserrat", sans-serif;  
    font-size: 21px;
    font-weight: 400;
   }

   .footcon img {
    margin-right: 20px;
   }

   .footcon-item{
    margin: auto;
   }



   @media (max-width: 768px) {
    .footcon {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 20px auto auto auto;
        justify-content: center;
    }

    .footcon-item{
        margin: 10px auto auto auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
       }

       .footcon h1 {
        text-align: center;
        margin: 10px auto 10px auto;
        font-family: "Montserrat", sans-serif;  
        font-size: 18px;
        font-weight: 700;
       }
    
       .footcon p {
        margin: 10px auto auto 10px ;
        font-family: "Montserrat", sans-serif;  
        font-size: 16px;
        font-weight: 400;
       }

       .footcon img {
        margin-right: 10px;
       }


       
   }



   .footh2{
    width: auto;
    text-align: center;
    margin: 50px auto auto auto ;
    color: #D3AE6F;
    /* font-size: 30px;    */
   }


   @media (max-width: 768px) {
    .footh2{
        color: #D3AE6F;
        font-size: 18px;
        margin: 30px auto auto auto ;
        
    }
   }


   .footvariant{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: auto;
   }

   .footvariant h3 {
    /* display: flex;
    flex-direction: column; */
    margin: 25px auto auto auto;
    font-family: "Montserrat", sans-serif;  
    font-size: 25px;
    font-weight: 700;
    color: #D3AE6F;
    width: 500px;
   }

 .footvariant span {
    width: 300px;
   text-align: center;
   margin: auto;
   font-family: "Montserrat", sans-serif;  
   font-size: 23px;
   margin:5px auto auto auto;
   font-weight: 400;
 }
  


 @media (max-width: 768px) {
    
    .footvariant{
        
            display: flex;
            flex-direction: column;
            width: auto;
            margin: 20px auto auto auto;
            justify-content: center;
        
    }

    .footvariant h3{
        text-align: center;
        width: auto;
        margin: 15px auto auto auto;
        font-family: "Montserrat", sans-serif;  
        font-size: 15px;
        font-weight: 700;
    }

    .footvariant span {
        width: auto;
        text-align: center;
        margin: auto;
        font-family: "Montserrat", sans-serif;  
        font-size: 15px;
        margin:5px auto auto auto;
        font-weight: 400;
    }

    }



    /* <!-- footer txt --> */

    .footertxt{
        display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    margin: 50px auto auto auto;
    }
   .footertxt p {
        text-align: center;
        line-height: 1.6; /* Qatorlar orasidagi masofa */
        margin-top: 20px;
        color: #D3AE6F;
        font-family: "Montserrat", sans-serif;     
         font-size: 23px;
    
 
   }


   @media (max-width: 768px) {
    .footertxt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        margin: 20px auto auto auto;
    }

    .footertxt p {
        line-height: 1.6; /* Qatorlar orasidagi masofa */
        margin-top: 10px;
        color: #D3AE6F;
        font-family: "Montserrat", sans-serif;     
        font-size: 18px;
    }
   }


   /* maps */

   .mapscon {
    display: flex;
    justify-content: center;
    margin: 50px auto 20px auto;
    width: 1200px; 
}

.yandex {
    display: flex;
    justify-content: start;
    border-radius: 20px; /* Barcha chetlarini yumaloqlashtirish */
    width:  600px;
    height: 250px; /* Balandlik */
    margin: auto auto auto 0; /* O'ng va chapdan avtomatik, pastki va tepadan 0 */
    border-radius: 20px;
}

.yandex iframe {
    width: 100%; /* Iframe ni to'liq kenglikka sozlash */
    height: 250px; /* Balandlikni o'rnatish */
    border: none; /* Chegarani olib tashlash */
    border-radius: 20px; /* Iframe chegarasini yumaloqlashtirish */
}

   

   .contact-numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    padding: 10px 20px; /* Ichki bo'shliq */
    font-family: Arial, sans-serif; /* Shrft */
    font-size: 30px; /* Shrft o'lchami */
}

.contact-numbers p {
    margin: 8px 0; /* Har bir qator orasidagi bo'shliq */
    color: #D3AE6F; /* Telefon raqamlarining rangi */
}

.contact-numbers a {
    color: #D3AE6F; /* Havolalar uchun rang */
    text-decoration: none; /* Chiziq ostini olib tashlash */
    font-weight: bold; /* Shrft qalinligi */
}

.bi-telephone-fill {
    color: #D3AE6F; /* Telefon belgisi rangi */
    margin-right: 10px; /* Telefon belgisidan keyingi bo'shliq */
}



@media (max-width: 768px) {

    .mapscon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto 20px auto;
        width: auto; 
    }
    .yandex{
        width: 300px;
        height: 250px;
        margin: auto auto 0 auto;
        
    }
    .contact-numbers {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin:0 auto auto auto;
        padding: 10px 10px; /* Ichki bo'shliq */
        font-family: Arial, sans-serif; /* Shrft */
        font-size: 20px; /* Shrft o'lchami */
    }

    .contact-numbers p {
        margin: 5px 0; /* Har bir qator orasidagi bo'shliq */
        color: #D3AE6F; /* Telefon raqamlarining rangi */
    }
}



footer {
    width: auto;
    background-color: #031601; /* Fon rangi */
    color: #FFFFFF; /* Matn rangi */
    padding: 20px; /* Ichki bo'shliqlar */
    font-size: 12px; /* Shrft o'lchami */
    line-height: 1.5; /* Qatorlar orasidagi masofa */
    text-align: center; /* Markazga matn joylashuvi */
}

footer a {
    color: #FFFFFF; /* Havolalar rangi */
    text-decoration: none; /* Chiziq ostini olib tashlash */
}

footer p {
    margin: 5px 0; /* Har bir qator orasidagi bo'shliq */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    footer {
        width: auto;
        padding: 10px; /* Kichikroq ichki bo'shliqlar */
        font-size: 10px; /* Kichikroq shrift o'lchami */
    }
}


/* .fixed-video-container {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    width: 300px; 
    height: 600px;
    z-index: 1000; 

    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 5%;
} */


.fixed-video-container {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    width: 300px; 
    height: 500px;
    z-index: 1000; 

    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 5%;
}

.video-close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
}


@media (max-width: 768px) {
    .fixed-video-container {
        position: fixed; 
        bottom: 20px; 
        right: 20px; 
        width: 150px; 
        height: 200px;
        z-index: 1000; 
    
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
        border-radius: 5%;
    }
    
    .video-close-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        z-index: 1001;
    }
    
}
